
body {background-color: #fefff0;}
h1   {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #774780;}
h2   {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7E8047;}
h3   {color: #774780;}
p    {color: #e87f29;}
li   {color: #b3845d;}